{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            Misc designs
        </div>
    </div>
    <div class="row">
        <div class="col">
            PHOTOS
        </div>
    </div>
    <div class="row">
        <div class="col">
            Chess
        </div>
    </div>
    <div class="row">
        <div class="col">
            PHOTOS
        </div>
    </div>
    <div class="row">
        <div class="col">
            Ballons
        </div>
    </div>
    <div class="row">
        <div class="col">
            PHOTOS
        </div>
    </div>
    <div class="row">
        <div class="col">
            Cans
        </div>
    </div>
    <div class="row">
        <div class="col">
            PHOTOS
        </div>
    </div>
    <div class="row">
        <div class="col">
            Star wars
        </div>
    </div>
    <div class="row">
        <div class="col">
            PHOTOS
        </div>
    </div>
</div>

{%endblock%}